<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="dev.naominet.lazer.AndroidDsdFixtureContentProvider"
            android:authorities="dev.naominet.lazer.androidtest.dsd"
            android:exported="true" />
    </application>
</manifest>
